.SideTrends input {
  padding: 0 0 0 10px;
  margin-left: 15px;
  margin-top: 25px;
  width: 80%;
  height: 28px;
  border: 0;
  background-color: #eaeff1;
  border-radius: 24px;
  outline: none;
  /* z-index: 2;
  position: fixed;
  margin-right: 55px; */
}

.SideTrends {
  /* border: 1px solid grey; */
  position: absolute;
  width: 28%;
  border-left: 1px solid lightgrey;
  width: 30%;
  display: none;
  right: 0;
  overflow: scroll;
  height: 100vh;
  transition: all 0.35ss;

  margin-top: 45px;
}

@media screen and (min-width: 800px) {
  .SideTrends {
    display: block;
  }
}
